{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="pages main_light">

<h1>About us</h1>

<p class="regular-text">The idea of forming an Association of Tanzanian Water Suppliers (ATAWAS) came from the Managing Directors of Urban Water Supply and Sewerage Authorities who were attending the Annual Water Experts Conference organized by the
  then Ministry of Water and Livestock Development in Arusha in December 1998. They proposed to form a Union/Association which will coordinate their activities, promote exchange of information and coordinate with external partners. The meeting
  appointed the Interim Secretariat to work out the modalities of forming the Association.</p>
<p class="regular-text"> The Association of Tanzanian Water Suppliers (ATAWAS) is a membership based Association operating in Tanzania mainland, registered under the Societies Ordinance of 1954 and its amendments. ATAWAS, formally, started in October
  2002 after registration through Register of Societies (Registration No. 11614) as a Society Organisation. The Association acts as a forum for the Tanzania water supply organizations to exchange experience and best practices with the view
  to enhancing their management performance in the water and sanitation sector. Membership comprises of Urban Water Supply and Sanitation Authorities (WSSAs), Community Based Water Supply Organizations (CBWSOs), water and sanitation services vendors,
  manufacturers of water supply materials, water wells drillers, water engineering, plumbing works, research, training, and individual members with interests in water sector.</p>
<p class="regular-text">The objectives of the Association are to build capacity of water supply and sanitation providers to be able to offer adequate, affordable and sustainable services; to promote networking among stakeholders in the water
  and sanitation sectors; and to mobilize resources for the development and amnagement of water resources, water supply and sanitation services.</p>
<p class="regular-text">The main objectives of establishing ATAWAS includes promotion of forums for water suppliers for improvement of water supply and sanitation in Tanzania, coordination and search for knowledge of best practices to share with
  members for improvement of social economic wellbeing of Tanzanian population, initiate and encourage any action of co-operation and exchange in professional training among members and promote contacts and cordial relationship among individual or
  corporate bodies involved in water resources, water supplies and sanitation in the country.</p>
<p class="regular-text">The Association plays an important role in providing networking, advocacy and lobbying for conducive policies and legislations, logistics and outreach programs to its members with keen focus on empowering them to effectively
  deliver their services to their customers and the public in general.</p>

<ul class="list">
  <li><a href="#"><i class="fas fa-file-pdf"></i> ATAWAS Constitution</a></li>
  <li><a href="#"><i class="fas fa-file-pdf"></i> ATAWAS Strategic Plan</a></li>
  <li><a href="#"><i class="fas fa-file-pdf"></i> ATAWAS Flyer</a></li>
</ul>

<h3>Board Members</h3>
<p class="regular-text">The current board of ATAWAS has been elected at the Annual General Meeting on 20th November 2019 for a time period of 3 years. The members are:</p>
<ul class="list">
  <li>Eng. Geofrey Hilly, Board Chairman</li>
  <li>Eng. David Pallangyo</li>
  <li>CPA John Ndetico</li>
  <li>Ms. Flaviana Kifizi</li>
  <li>Eng. Athanas Msangule</li>
  <li>Eng. Joel Rugemalila</li>
  <li>Ms. Martha Kabuzya</li>
</ul>

<h3>Secretariat</h3>
<p class="regular-text">The ATAWAS Secretariat currently consists of:</p>
<ul class="list">
  <li>Martha Kabuzya, Executive Secretary</li>
  <li>Constantino Chiwaligo, Technical and Operations</li>
  <li>Nisile Joel, Finance and Administration</li>
  <li>Daniel Nickel, GIS and Data Management</li>
</ul>

<h3>Partners</h3>
<p class="regular-text">In addition to the members, ATAWAS is in close cooperation with different partners, for example: Ministry of Water, Energy and Water Utilities Regulatory Authority (EWURA), German Development Cooperation (GIZ), Institutions for Inclusive Development (I4ID), and the Open University of Tanzania.</p>

</div>
{% endblock content%}
