{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="pages">

  <h1>Expert Groups</h1>

  <p class="regular-text">Become a part of one of our Experts Groups and discuss the latest developments, best practices and challenges with others. We are using WhatsApp for discussions and conduct workshops for your field of interest.</p>
  <p class="regular-text">If you (or the organisation you are working for) are an ATAWAS member, you can join our groups. Just get in touch with us.</p>

  <p class="regular-text">So far we have established these groups:</p>
  <ul class="list">
    <li>ATAWAS Members</li>
    <li>ATAWAS Student Members</li>
    <li>GIS and Mapping</li>
    <li>Non-Revenue Water</li>
    <li>Energy Efficiency</li>
  </ul>

  <p class="regular-text">Feel free to suggest topics for other Experts Groups.</p>


</div>
{% endblock content%}
