{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="pages main_medium">

<h1>Join Us</h1>

<p class="regular-text">Are you an individual, company or institution dealing with water and sanitation issues, we could be of interest to you.</p>
<p class="regular-text">We offer to ...</p>
<ul class="list">
  <li>link you up with others and keep you connected</li>
  <li>provide you with business opportunities</li>
  <li>provide capacity development (trainings, seminars and workshops)</li>
  <li>share with you latest information from the sector</li>
  <li>send you are quarterly newsletter</li>
  <li>invite you to join the Annual Waster Conference at a discounted rate</li>
</ul>

<p class="regular-text">Interested? Download the form, make the initial payment and send the filld form back to us.</p>
<ul class="list">
  <li><a href="#"><i class="fas fa-file-pdf"></i> ATAWAS Membership Form</a></li>
</ul>

<p class="regular-text">The annual fees are:</p>
<ul class="list">
  <li>Individual member: TZS 50,000</li>
  <li>Student member: TZS 20,000</li>
  <li>Affiliate member (companies, consultancies, NGOs, ...): TZS 300,000</li>
  <li>Water Utilities: 0.1% of annual revenue collections or the minimum amount of TZS 200,000</li>
  <li>Basin Water Offices: 0.1% of internal revenue collections or the minimum amount of TZS 200,000</li>
</ul>

<p class="regular-text">Deposit the membership fee in ATAWAS Account 01J1013385600, CRDB, Kijitonyama Branch, or 20810009082, NMB, University Branch</p>

<img class="banner" src="{% static 'images/join.jpg' %}" alt="awac-banner">

</div>
{% endblock content%}
