{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="pages">

  <h1>Subscribe newsletter</h1>

  <p class="regular-text">Enter your email address to automatically receive the ATAWAS Newsletter.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <p class="regular-text warning">{{ error }}</p>
    <br>
    <button type="submit">Subscribe</button>

  </form>

  <img class="imgarticle img-fluid" src="{% static 'images/newsletter.jpg' %}" alt="awac-banner">

</div>
{% endblock content%}
