{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="pages">
  <h1>Projects</h1>

  {% for article in articles %}

  <h3>{{ article.title}}</h1>
    <p class="date-text">Posted on {{ article.createDate|date:"dS M Y" }}</p>
    <img class="imgarticle img-fluid" src="{{ article.imageTitle.url}}" alt="">
    {% if article.imageTitleCaption%}
    <p class="imgcaption">{{ article.imageTitleCaption }}</p>
    {% endif %}
    <p class="regular-text">{{ article.text }}</p>

    {% if article.image2%}
    <img class="imgarticle img-fluid" src="{{ article.image2.url}}" alt="">
    {% endif %}
    {% if article.image2Caption%}
    <p class="imgcaption">{{ article.image2Caption }}</p>
    {% endif %}

    {% if article.image3%}
    <img class="imgarticle img-fluid" src="{{ article.image3.url}}" alt="">
    {% endif %}
    {% if article.image3Caption%}
    <p class="imgcaption">{{ article.image3Caption }}</p>
    {% endif %}

    {% if article.image4%}
    <img class="imgarticle img-fluid" src="{{ article.image4.url}}" alt="">
    {% endif %}
    {% if article.image4Caption%}
    <p class="imgcaption">{{ article.image4Caption }}</p>
    {% endif %}

    {% if article.image5%}
    <img class="imgarticle img-fluid" src="{{ article.image5.url}}" alt="">
    {% endif %}
    {% if article.image5Caption%}
    <p class="imgcaption">{{ article.image5Caption }}</p>
    {% endif %}

    <hr class="article-line">

    {% endfor %}
</div>

{% endblock content %}
